@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&family=Quicksand&family=Sacramento&display=swap');
*{
    font-family: 'League Spartan', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
}

h2{
    color:brown;
    font-family: 'League Spartan';
    text-align: center;
    margin: 0.6rem;
}

header h1{
    font-family: 'League Spartan';
    color:black;
    text-align: center;
    margin: 0.35rem;
}

header h3{
    color:orange;
    text-align: center;
    margin: 0.35rem;
}

html{
    background-color: orange;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #Fff;
    padding-bottom: -200px;
    padding: 10px 10px;
    margin-bottom: 1.7rem;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.274);
}

.logo {
    display: inline-block;
    position: relative; /* Posizione fissa */
    right: -45%; /* Distanza dalla destra */
    top: -22px; /* Posiziona al centro in verticale */
    transform: translateY(-50%); /* Regola per centrare verticalmente */
}

.logo img {
    width: 50%;
    height: auto;
}

.gallery{
    width: 100%;
    height: 32rem;

    position: relative;
    display: flex;
    overflow: auto;
    margin-bottom: 1.4rem;
}

.gallery img{
    width: 100%;
    height: 100%;

    position: sticky;  
    flex-shrink: 0;
    scroll-snap-align: start;
}

section{
    text-align: center;
    background-color: #Fff;
    font-size: 1.3rem;
    margin: 0.7rem;
    margin-left: 35%;
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 560px;
}

.lista{
    list-style: none;
    margin-bottom: 25px;
}

.menu{
    margin: 0 1.7rem 0 0;
}

table{
    display: flex;
    margin: 0 0 1rem 2.5rem;
}

.button{
    font-size: 1.2rem;
    border-radius: 0.5rem;
    padding: 0.7rem;
    background-color: brown;
    color: #Fff;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 1rem;
}

.button:hover{
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
}

footer{
    background-color: #222;
    padding: 1.5rem;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    margin-top: 1.4rem;
}

.tacos{
    margin-bottom: 10px;
    margin-top: 10px;
}

.tacos2{
    margin-bottom: 10px;
    margin-top: 10px;
}

.items{
    margin-left: 60px;
}

.pastor{
    margin-bottom: 10px;
}

.canasta{
    margin-bottom: 10px;
    margin-left: 19px;
}

.carnitas{
    margin-bottom: 10px;
    margin-left: 20px;
}

.chorizo{
    margin-bottom: 10px;
    margin-left: 11px;
}

.chuleta{
    margin-bottom: 20px;
    margin-left: 11px;
}

input[id="name"], select {
    width: 30%;
    text-align: center;
    padding: 12px 6px;
    margin: 8px 0;
    font-size: medium;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=text] {
    border: none;
    text-align: center;
    border-bottom: 2px solid black;
  }

  input[type=tel] {
    border: none;
    text-align: center;
    border-bottom: 2px solid black;
  }